.ty-center {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.preserve-3d {
  transform-style: preserve-3d;
}

.animated-shadow {
  cursor: pointer;
  position: relative;
  transition: all .5s cubic-bezier( .165, .84, .44, 1 );
}
.animated-shadow:after {
  content: '';
  box-shadow: 0 2px 4px 0 #dce0e0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 0.6s cubic-bezier( .165, .84, .44, 1 );
}

.active.animated-shadow:after,
.animated-shadow:hover:after { opacity: 1; }


/* Custom Colours */
.watermelon { color: #ff5a5f; }
.bg-watermelon { background-color: #ff5a5f; }
.b--watermelon { border-color: #ff5a5f; }

.persian-green { color: #00a699; }
.bg-persian-green { background-color: #00a699; }
.b--persian-green { border-color: #00a699; }

/*#FFD166 #E6FAFC #3C153B #89BD9E*/

/* Easings */
.ease-in-out-cubic {
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.swift-out {
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

/* Transitions */
.slide-left-enter,
.slide-right-leave-active {
  transform: translate(100%, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  transform: translate(-100%, 0);
}
